<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather-pic.webp">
        <link  rel="stylesheet" href="./css/styles.css">  
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Yogendra Kumar.</p>
            <p>It uses data from Mapbox.com and Weatherstack.com!</p>
            <img class ="portrait" src="./Img/IMG_20211213_012451_856_2 (3).jpg">
        </div>
        {{>footer}}
    </body>
</html>